{% extends 'base.html' %}
{% block 'main' %}
    <h1 class="text-2xl">Thank you for subscribing to {{ newsletter.name }}!</h1>
    <h3 class="text-lg mt-10">You have subscribed to {{ newsletter.name }} by {{ newsletter.creator.username }} as {{ subscriber.first_name }} {{ subscriber.last_name }} with email {{ subscriber.email }}</h3>
    {% if not validated %}<h3 class="text-lg mt-5">Please check your inbox to confirm sign up and start recieving emails</h3>
    {% else %}<h3 class="text-lg mt-5">You have confirmed your email</h3>{% endif %}
    {% if newsletter.signup_message != '' %}
        <h3 class="text-lg mt-10">Message from creator:</h3>
        <h3 class="text-lg mt-10">{{ newsletter.signup_message }}</h3>
    {% endif %}
{% endblock %}